{% extends 'account/user_update_form.html' %}
{% block pass %}

    <h4 class="my-4">Change Password</h4>
    <form action="" method="post">
        {% csrf_token %}
        <div class="col-md-6">
            <label for="exampleInputPassword1" class="form-label">Old password *</label>
            <input name="old_password" type="password" class="form-control" id="exampleInputPassword1">
            {{ form.old_password.errors }}

        </div>

        <div class="col-md-6">
            <label for="exampleInputPassword2" class="form-label">New password *</label>
            <input name="new_password1" type="password" class="form-control" id="exampleInputPassword2">
            {{ form.new_password1.errors }}

        </div>

        <div class="col-md-12">
            <label for="exampleInputPassword3" class="form-label">Confirm Password *</label>
            <input name="new_password2" type="password" class="form-control" id="exampleInputPassword3">
            {{ form.new_password2.errors }}

        </div>
        <br><br>
        <div class="gap-3 d-md-flex justify-content-md-end text-center">
            {#                                        <button type="button" class="btn btn-danger btn-lg">Delete profile</button>#}
            <button type="submit" class="btn btn-primary btn-lg"
                    style="background-color: #ec9625;border-color: #ec9625">
                Change
            </button>
        </div>
        </form>


{% endblock pass %}