{% extends 'account/login.html' %}
{% block content %}


    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
                <h3>Confirm Password <strong>Amado</strong></h3>
                {% if validlink %}
                    <p class="mb-4">Enter Your Pass</p>
                    <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Change">
                </form>
                {% else %}
                <p>This link is expired</p>
                {% endif %}

            </div>
        </div>
    </div>
{#    </div>#}


{% endblock %}